cookiecutter-data-science
isodate
numpy==2.3.5
pandas==2.3.3
psutil==7.0.0
google-api-python-client
youtube-transcript-api
ipynb
dotenv
pytest
boto3
awscli
dvc
dvc[s3]
dagshub
mlflow==3.14.0
scikit-learn==1.9.0
scipy==1.15.3
skops==0.14.0
# scikeras
# tensorflow
# pipreqs
flask
prometheus_client
-e .